@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc; /* slate-50 */
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
